html{
	 width:100%;
	 height:100%;
	 overflow:auto;
}

h1{
	text-align:center;
}

div.footerCreative{
	font-size:small;	
	width:100%;
	margin-left:auto;
	margin-right:auto;
	border-top:groove 2px;
}
div.footerCreative a{
	white-space: nowrap ;
}

div.footerCreative table{
	width:100%;
	border:0;
}


div.infoGeneral{
	border-bottom:groove 2px;
}
span.nombreBtn{
	font-style:italic;
	font-size:medium;
}



span.nombreTecla{
	font-style:italic;
	font-size:medium;
	font-weight:bold;
}
span.aclaracionDesarrolladores{
	display:block;
	clear:both;
	color:red;
}

img.imagenInteractivo{
	clear:both;
	display:block;
	margin-left:auto;
	margin-right:auto;
	margin-top:10px;
	margin-bottom:20px;
}

.btnNav{
	vertical-align:middle;	
	width:60px;
	height:30px;
}
p{
	text-align:justify;	
}

.centrado{
	text-align:center;	
}